@(content : Html)
@main("乐正新闻--乐正资本有限公司", nav = "idea"){
    <!--新闻资讯-->
    <!-- 乐正资讯页面 -->
    <div class="gywm_box_zj" align="center"
    style="background: url('@routes.Assets.at("images/2.jpg")')">
    </div>

    <div class="gywm_box2_zj w ov_h">
        <div class="gywm_box2_l_zj fl">
            <div class="h_beijing">
                <h3>新闻资讯 <span> IDEA </span></h3>
            </div>
            <div>
                <ul>
                    <li class="cur"><a href="@routes.Application.companyNews()" >乐正新闻</a></li>
                    <li><a href="@routes.Application.marketNews()" >市场资讯</a></li>
                </ul>
            </div>
            <p>
                <a href="@routes.Application.contactUs()">
                    <img src="@routes.Assets.at("images/contactUs.jpg")"  width="243px" height="141px">
                </a>
            </p>
        </div>

        @* 具体内容 *@
        @content

    </div>
}