@(prodMap: Map[Long, String], product: Product)
    @views.html.Product.navigation(prodMap, product) {
    <div>
        <div class="contentlist products_type01">
            <div class="prodiv">
                <div class="promenu" style=" margin-left:20px ;">
                    <a href="@routes.Application.products(product.getID())" class="line5">产品简介</a></div>
                <div class="promenu products_type02" >
                    <a href="@routes.Application.productsYJ(product.getID())" class="line5">历史业绩</a>
                </div>
                <div class="promenu products_type04">
                    <a href="@routes.Application.productsLC(product.getID())" class="line5">走势图</a></div>
                <div class="promenu2 products_type05">认购流程</div>
            </div>
            <img src="@routes.Assets.at("/images/liucheng.jpg")">
        </div>
    </div>
}