@* group Template File *@
@()
@main("乐正团队--乐正资本有限公司", nav = "aboutus"){
	<!--关于我们-->
<!-- 公司团队页面 -->
<!--网页上部图片-->
<div class="gywm_box_zj" align="center"></div>

<div class="gywm_box2_zj w ov_h">
    <div class="gywm_box2_l_zj fl">
        <div class="h_beijing">
            <h3>关于我们 <span>about us</span></h3>
        </div>
        <div>
            <ul>
                <li ><a href="@routes.Application.companyIntro()">公司简介</a></li>
                <li ><a href="@routes.Application.advantages()" >特点与优势</a></li>
                <li class="cur"><a href="@routes.Application.group()" >核心团队</a></li>
            </ul>
            <p>
                <a href="@routes.Application.contactUs()">
                    <img src="@routes.Assets.at("images/contactUs.jpg")"  width="243" height="141">
                </a>
            </p>
        </div>
    </div>
    <div class="gywm_box2_r_zj fr">
        <div class="bhk">
            <h3 class="fl">公司团队</h3>
            <div class="fr jj_you"><span>当前位置：</span><a href="@routes.Application.index()" >首页</a> >
                <a href="@routes.Application.companyIntro()" >关于我们</a> > 核心团队
            </div>
        </div>
        <div class="rongqi"style="color:#666666;font-family:'Microsoft YaHei';">
            <br/>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                <tr>
                    <td width="5%">
                        <img alt="" src="@routes.Assets.at("images/wangjiangping.png")"  style="width: 155px; height: 206px; margin-right: 15px;">
                    </td>
                    <td align="left" valign="top" width="95%">
                        <p style="font-size: 18px;"><strong>王江平： 穿越牛熊&nbsp;&nbsp;洞悉股市</strong></p>
                        <p style="font-size: 14px;">乐正资本总经理，负责乐正投研及大类资产配置。擅长大类资产、行业配置和精选个股，追求绝对回报。管理社保组合1年7个月，取得20%的绝对收益，12/13两个年度考核分别排名同组
                        第一/第二名，规模从起初的8亿追加到35亿。管理中信股债双赢期间获券商私募连续两年优胜奖。</p>
                        <p style="font-size: 14px;">清华大学经管学院硕士，22年买方投资经验：</p>
                        <p style="font-size: 14px;">——中信证券董事总经理、社保组合基金经理</p>
                        <p style="font-size: 14px;">——中信基金董事总经理、投资总监</p>
                        <p style="font-size: 14px;">——中国人保资产管理有限公司权益投资部负责人</p>
                        <p style="font-size: 14px;">——大成基金管理有限公司投资总监、基金经理</p>
                        <p style="font-size: 14px;">——湖南省国际信托投资公司资产管理部副总经理</p>
                    </td>
                </tr>
            </table>
            <p><br />&nbsp;</p>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                <tr>
                    <td width="5%">
                        <img alt="" src="@routes.Assets.at("images/xuzhaohong.jpg")"  style="width: 155px; height: 206px; margin-right: 15px;">
                    </td>
                    <td align="left" valign="top" width="95%">
                        <p style="font-size: 18px;"><strong>徐兆红： 行深自渡&nbsp;&nbsp;悟道期货</strong></p>
                        <p style="font-size: 14px;">乐正资本期货投资总监，负责乐正期货投资研究和组合管理。擅长通过品种和仓位来追求宏观对冲的稳定收益。</p>
                        <p style="font-size: 14px;">清华大学经管学院硕士，21年期货投资经验：</p>
                        <p style="font-size: 14px;">——北京利岩湾投资有限公司投资总监</p>
                        <p style="font-size: 14px;">——迈科金属集团交易经理</p>
                        <p style="font-size: 14px;">——上海万向期货公司研究部经理</p>
                        <p style="font-size: 14px;">——上海中机期货公司研究部经理、交易员</p>
                    </td>
                </tr>
            </table>
            <p><br />&nbsp;</p>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
                <tr>
                    <td width="5%">
                        <img alt="" src="@routes.Assets.at("images/duweiyi.jpg")"  style="width: 155px; height: 206px; margin-right: 15px;">
                    </td>
                    <td align="left" valign="top" width="95%">
                        <p style="font-size: 18px;"><strong>杜位移： 理智投资&nbsp;&nbsp;审时度势</strong></p>
                        <p style="font-size: 14px;">乐正资本股票投资总监，负责乐正股票投资研究和组合管理。16年买方投资经验，有极强的阿尔法和择时能力，构建了绝对收益框架。</p>
                        <p style="font-size: 14px;">清华大学工学学士，人民银行研究生部货币银行学硕士，16年买方投资经验：</p>
                        <p style="font-size: 14px;">——长盛基金专户部负责人、投资经理</p>
                        <p style="font-size: 14px;">——东方基金投资部总监、基金经理、投委会委员</p>
                        <p style="font-size: 14px;">——富国基金研究部副总监</p>
                        <p style="font-size: 14px;">——大成基金研究部副总监、市场部副总监</p>
                    </td>
                </tr>
            </table>
            <p><br />&nbsp;</p>
        </div>
    </div>
</div>
	}