@* strategy Template File *@
@()
@main("投资策略--乐正资本有限公司", nav = "strategy"){
	<div class="gywm_box_zj" align="center" style="background: url('@routes.Assets.at("images/3.jpg")')">
</div>

<div class="gywm_box2_zj w ov_h">
    <div class="gywm_box2_l_zj fl">
        <div class="h_beijing">
            <h3>投资策略 <span>experience</span></h3>
        </div>
        <div>
            <ul>
                <li ><a href="@routes.Application.investTarget()">投资目标</a></li>
                <li ><a href="@routes.Application.level()">投资范围</a></li>
                <li class="cur"><a href="@routes.Application.strategy()">投资策略</a></li>
                <li ><a href="@routes.Application.risk()">风险管理</a></li>
            </ul>
        </div>
        <p><a href="@routes.Application.contactUs()">
            <img src="@routes.Assets.at("images/contactUs.jpg")"  width="243" height="141"></a>
        </p>
    </div>
    <div class="gywm_box2_r_zj fr">
        <div class="bhk">
            <h3 class="fl">投资策略</h3>
            <div class="fr jj_you">
                <span>当前位置：</span><a href="@routes.Application.index()" >首页</a> >
                <a href="@routes.Application.investTarget()" >投资履历</a> > 投资策略
            </div>
        </div>
        <div class="lxwm mt20";style="color:#666666;font-family:'Microsoft YaHei';">

            <p style="font-size:20px;">投资基本策略：</p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;公司的投资策略为通过自上而下的宏观经济分析动态调整资产配置，精选趋势中或被低估的主流品种构建组合，辅助以灵活的交易或对冲策略；在严格控制风险和保持基金资产合理流动性的前提下，以获取绝对收益的方式，追求基金资产的稳健增值。</p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;主要方式有：</p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;1. 宏观趋势判断，把握现在，预见未来； </p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;2. 关注政策导向，深挖行业亮点；</p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;3. 模型估值选择价值低估个股； </p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;4. 把握轮动、波段交易机会；</p>
            <p style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;5. 跨市场交易，规避风险，获取超额收益。</p>
            <br/>

        </div>
    </div>
</div>
	}
